<h1>{{homeCtrl.message}}</h1>

<div>
    IBA Tech Academy is an educational initiative of International Bank of Azerbaijan based on the methodology developed by center for training of IT professionals «DAN IT education». The education program is based on the Israeli method for training IT-personnel – Telem.
Currently the Academy provides immersive bootcamp programs covering main areas of coding. Applicants thriving to develop necessary competencies for programming to build their future career in IT industry can be enrolled to the program through successfully completing 4 stages of selection process.
IBA Tech Academy is established within the framework of the “International Bank of Azerbaijan”’s corporate social responsibility strategy.
</div>
